
*{
  font-family: 'Bitter', serif;
  background-color: #FDE54D;
  color: #EC459E;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.col, [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

#text {
  font-size: 50px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}

img {
    width: 100px;
}

#winners {
    height: 40vh;
    width: 60%;
    margin-top: 2rem;
}

.center {
  text-align: center;
}

@media screen and (max-width: 480px) {
  #text {
    font-size: 30px;
  }
  #winners {
    height: 20vh;
    width: 100%;
    margin-top: 2rem;
}
}